
{:source-paths ["src/"]
 :dependencies []
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:entries [main]
                                 :depends-on #{:lib}}
                          :lib {:entries ["react" "react-dom"]}}
                :devtools {:after-load main/reload!
                           :http-root "target/"
                           :http-port 8080}
                :release {:output-dir "dist/"}}}}
